@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12 calendar" style="padding: 0px;">
                <h3>Weekly</h3>
                <div style="display:block;">
                    @foreach (var day in Model.DaysOfTheWeek)
                    {
                        <div class="week-day">
                            <p>@day.Name</p>
                            @if (day.ClosedStores.Any())
                            {
                                @foreach (var store in day.ClosedStores)
                                {
                                    <p><a href="@store.URL" target="_blank">@store.Text</a> Closed</p>
                                }
                            }
                            @if (day.ClosedStoresOnSunnyDays.Any())
                            {
                                @foreach (var store in day.ClosedStoresOnSunnyDays)
                                {
                                    <p><a href="@store.URL" target="_blank">@store.Text</a> Closed if Sunny</p>
                                }
                            }
                            @if (day.EarlyStoreClosures.Any())
                            {
                                @foreach (var store in day.EarlyStoreClosures)
                                {
                                    <p>
                                        <a href="@store.Item1.URL" target="_blank">@store.Item1.Text</a> closes at @store.Item2
                                    </p>
                                }
                            }
                            @if (day.TravelingCartOpen)
                            {
                                <p>
                                    <a href="@Model.TravelingCart.URL" target="_blank">@Model.TravelingCart.Text</a>
                                    available
                                </p>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 calendar">
                <h3>Spring</h3>
                @foreach (var day in Model.Days)
                {
                <div class="calendar-day">
                    <h4>@day</h4>
                    @if (Model.CalendarDays.Any(x => x.DayOfMonth == day))
                    {
                        var dayInfo = Model.CalendarDays.First(x => x.DayOfMonth == day);

                        if (dayInfo.Festival != null)
                        {
                            <div>
                                <img src="~/images/Calendar_Flag_Anim.gif" class="small-margin" />
                                <a href="@dayInfo.Festival.URL" target="_blank">@dayInfo.Festival.Text</a>
                            </div>
                        }
                        if (dayInfo.Birthday != null)
                        {
                            <p>
                                <img src="@dayInfo.Birthday.IconURL" />
                                <a href="@dayInfo.Birthday.Link.URL" target="_blank">@dayInfo.Birthday.Link.Text</a>'s Birthday
                            </p>
                        }

                        if (dayInfo.Notes.Any())
                        {
                            @foreach (var note in dayInfo.Notes)
                            {
                                <b class="no-margin text-warning">@note</b>
                            }
                        }

                        if (dayInfo.FirstDayToPlant.Any())
                        {
                            var crops = dayInfo.FirstDayToPlant.Select(x => x.Link.Text);
                            <b class="no-margin text-success">Last day to plant @String.Join(", ", crops) optimally.</b>
                        }

                        if (dayInfo.FirstDayToPlantTen.Any())
                        {
                            var crops = dayInfo.FirstDayToPlantTen.Select(x => x.Link.Text);
                            <b class="no-margin text-success">Last day to plant @String.Join(", ", crops) optimally.</b>
                        }

                        if (dayInfo.FirstDayToPlantTwenty.Any())
                        {
                            var crops = dayInfo.FirstDayToPlantTwenty.Select(x => x.Link.Text);
                            <b class="no-margin text-success">Last day to plant @String.Join(", ", crops) optimally.</b>
                        }

                        if (dayInfo.FirstDayToPlantTwentyFive.Any())
                        {
                            var crops = dayInfo.FirstDayToPlantTwentyFive.Select(x => x.Link.Text);
                            <b class="no-margin text-success">Last day to plant @String.Join(", ", crops) optimally.</b>
                        }

                        if (dayInfo.FirstDayToPlantThirtyFive.Any())
                        {
                            var crops = dayInfo.FirstDayToPlantThirtyFive.Select(x => x.Link.Text);
                            <b class="no-margin text-success">Last day to plant @String.Join(", ", crops) optimally.</b>
                        }
                    }
                </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <h3>Daily</h3>
        @foreach (var time in Model.TimesOfDay)
        {
            <div class="time-of-day">
                <b>@time.Time</b>
                @if (time.StoresOpeningAtTime.Any())
                {
                    @foreach (var store in time.StoresOpeningAtTime)
                    {
                        <p class="no-margin">
                            <a href="@store.URL" target="_blank">@store.Text</a>
                            <b class="opens">open</b>
                        </p>
                    }
                }
                @if (time.StoresClosingAtTime.Any())
                {
                    @foreach (var store in time.StoresClosingAtTime)
                    {
                        <p class="no-margin">
                            <a href="@store.URL" target="_blank">@store.Text</a>
                            <b class="closes">closed</b>
                        </p>
                    }
                }
            </div>
        }
    </div>
    <div class="col-md-1"></div>
</div>



